/* div{
    background-color: rgb(66, 12, 12);
    background-image: url(/image/insta.png);
    background-repeat: no-repeat;
    background-position: auto;
    background-attachment: fixed;
    color: aliceblue;

} */